.form-label {
	margin-bottom: 1em;
	line-height: 1.4;

	font-size: 16px;
	font-family: "PT Sans", sans-serif, inherit;
	color: $colorDarkGray;
	background-color: transparent;

	&.error {
		font-size: 20px;
	}
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="number"],
select,
a {

	&.form-input {

		// remove chrome autocompletion color
		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px $colorLighterGray inset;
		}

		border-radius: 5px;
		outline: none;
		width: 100%;
		height: 4em;
		background-color: $colorLighterGray;

		color: #787878;
		font-size: 16px;
		font-family: "PT Sans", sans-serif, inherit;
		padding: 8px 18px;
		display: inline-block;
		border: none;
		border-bottom: solid 3px white;
		margin: 0 0 20px 0;

		&.small {
			width: calc(50% - 20px);
			margin-right: 10px;
		}
	}
}

.btn {

	&.link {
		padding: 1.5em 3em;
		height: auto;
		text-decoration: none !important;
		&:hover,
		&:focus {
			background-color: white;
			color: $mainBackgroundColor;
			border: 3px solid $mainBackgroundColor;
		}
	}

	&-success,
	&-success[type="submit"],
	&-danger,
	&-danger[type="submit"],
	&-error,
	&-error[type="submit"] {
		display: inline-block;
		width: auto;
		height: 4em;
		border-radius: 5px;

		font-size: 16px;
		font-weight: bold;
		color: $white;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	&-success,
	&-success[type="submit"],
	&-success &.link {
		background-color: $mainBackgroundColor;
		border: 3px solid transparent;

		&:hover,
		&:focus {
			background-color: white;
			color: $mainBackgroundColor;
			border: 3px solid $mainBackgroundColor;
		}
	}

	&-danger,
	&-danger[type="submit"] {
		background-color: $thirdBackgroundColor;
		border: 3px solid transparent;

		&:hover,
		&:focus {
			background-color: white;
			color: $thirdBackgroundColor;
			border: 3px solid $thirdBackgroundColor;
		}
	}

	&-error,
	&-error[type="submit"] {
		background-color: $secondBackgroundColor;
		border: 3px solid transparent;

		&:hover,
		&:focus {
			background-color: white;
			color: $secondBackgroundColor;
			border: 3px solid $secondBackgroundColor;
		}
	}
}

.message {
	font-size: 20px;
	color: $colorGray;

	&-success {
		color: $mainBackgroundColor;
	}

	&-error {
		color: $secondBackgroundColor;
	}
}

.show-invoice-address {
	color:$colorDarkGray;
	font-size:17px;
	line-height:23px;
}

.invoice {
	margin: 30px 0;
	width: 100%;

	thead {
		th {
			padding: 1em;
			font-size: 16px;
			background-color: $mainBackgroundColor;
		}
	}
	&-line {
		background-color: lighten($mainBackgroundColor, 36%);
		td {
			padding: 2em 1em;
			font-size: 16px;
		}
	}
	&-line:nth-of-type(even) {
		background-color: lighten($mainBackgroundColor, 30%);
	}
	&-total {
		td {
			background-color: $white;
			font-size: 18px;
			color: $colorDark;
			padding-top: 2em;
		}
		&-label {
			padding: 1em;
			text-align: right;
			font-weight: bold;
		}
		&-amount {
			font-weight: bold;
		}
	}
}
