@font-face {
	font-family: 'gr';
    src: url('./fonts/gmb.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'gr';
    src: url('./fonts/gmbi.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'gr';
    src: url('./fonts/gr.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gr';
    src: url('./fonts/gi.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

h1, h2, b, strong {
	font-family: 'gr';
	font-weight: bold !important;
}

p {
	font-family: 'gr';
}

.white { color: $white; }
.bg-white { background-color: $white; }
.red { color: $red; }
.bg-red { background-color: $red; }

.big {
	font-size: 42px;
	font-size: 4.2rem;
}

.bold {
	font-weight: bold;
}

.testimonials {
	display: flex;
	justify-content: space-between;

	li {
		flex: 1;
		text-align: center;
		padding: 20px;

		color: $white;
	}

	.portrait {
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 50%;
		margin: 20px auto;
	}

	h2 {
		color: $white;
		font-size: 2em;
		font-weight: bold;
	}

	h3 {
		color: $white;
		font-size: 1.6em;
		font-style: italic;
		margin: 10px 0 15px;
	}

	p {

	}
}

.faq {
	li {
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 20px;

		h2 {
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 0.01em;
			background-color: $black;
			color: $white;
			padding: 15px;
		}
		p {
			background-color: white;
			padding: 15px;
		}
	}
}

.textarea {
	margin-bottom: 5em;

	textarea {
		border-radius: 4px;
		padding: 1.5em;
		font-size: 16px;
		font-size: 1.6rem;
	}

	button {
		border-radius: 4px;
		background-color: $red;
		color: $white;
		font-size: 2em;
		float: right;
		font-weight: bold;
	}
}

main.Blog {
	.Article-content {

		a {
			color: $red;
			font-weight: bold;

			&:hover {
				border-bottom: 3px solid $red;
			}
		}

		legend {
			width: 100%;
			text-align: center;
			font-size: 0.75em;
			font-style: italic;
		}

		twitterwidget {
			margin: 20px auto !important;
			border: 1px solid #e1e8ed;
		}

	}

	.section-action {
		margin-top: 100px;
		background-color: $colorWhite;
		padding: 40px;
		text-align: center;

		h3 {
			color: $secondBackgroundColor;
			margin-bottom: 20px;
		}
	}
}
