/*
 *	Kevin Vennitti @kevinvennitti for Prototypo
 *  http://prototypo.io
 */

$green: #24d390;
$dark-green: #00e28b;
$medium-grey: #7e7e7e;
$light-grey: #C6C6C6;
$lightest-grey: #F6F9FC;
$dark-grey: #3B3B3B;
$white: #fefefe;
$yellow: #f5e462;
$black: #303030;
$red: #fc5454;
$blue: #00c4d6;
$dark-blue: #5a697d;
$lightest-blue: #edfdff;

@import 'sass';
@import 'foundation/_settings.scss';
@import 'prism';
@import 'foundation';
@import 'foundation_overrides';
@import 'normalize';
@import 'keyframes';
@import 'layout';
@import 'main';
@import 'forms';
@import 'version2';
@import 'medias';
@import 'jssocials';
@import 'jssocials-theme-flat';
