/*
 *  Page: home
 */
 
.Section {
  position:relative;
  width:100%;
  padding: 65px 0 60px;
}

.SectionHeader {
  margin-top:20px;
  margin-bottom:60px
}

.Section-wrapTxt {
}

.Section-homepage {
  background-image:linear-gradient(to bottom right, $mainBackgroundColor, adjust-hue($mainBackgroundColor, 35deg)); /* #00c5d4 */
  height:100%;
  overflow:hidden;
  min-height:600px
}

.Section-backgroundFonts {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  font-size:42px;
  color:rgba(0,0,0,.03);
  font-family:'Playfair Display',inherit;
  font-style:italic;
  letter-spacing:-5px;
  
}

.Section-homepageWrap {
  height: 600px;
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 0;
  right: 0;
}

.Section-homepageGetStartedLine {
  margin:30px 0 20px 0;
  text-align:center
}

.Section-homepageGetStartedLineTitle {
  display:inline-block;
  font-size:24px;
  font-family:'PT Sans', inherit;
  font-weight:700
}

.Section-homepageGetStartedLineSubtitle {
  display:inline-block;
  margin:0 15px;
  font-size:22px;
  font-family:'PT Sans', inherit;
  font-style:italic;
  font-weight:400
}

.Section-homepageGetStartedLineCallToAction {
  padding-right:50px;
  background-image:url(img/pictos/pictoArrowToRightWhite.svg) !important;
  background-repeat:no-repeat !important;
  background-position:112px center;
  background-size:18px !important;
  
  @include transition(all 300ms ease);
}

.Section-homepageGetStartedLineCallToAction:hover {
  background-position:117px center;
}

.DemoHome {
  position:relative;
  width:700px;
  height:350px;
  margin:0 auto;
  z-index:1;
  
  background:white;
  box-shadow:0px 5px 45px rgba(0,0,0,.4);
  border-radius:3px;
}

.DemoHome:after {
  content:"";
  position:absolute;
  z-index:-1;
  background:linear-gradient(to left, rgba(0,0,0,.08), transparent);
  width:900px;
  height:742px;
  right:700px;
  top:-0;
  
  @include transform-origin(top right);
  @include transform(rotateZ(-45deg) skew(18.5deg,0));
}

.DemoHome-windowBackground {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:white;
  border-radius:3px;
}

.DemoHome-windowTopBar {
  border-top:solid 30px rgb(230,230,230);
  position:absolute;
  top:0;
  left:0;
  right:0;
  border-radius:3px 3px 0 0;
}

.DemoHome-windowLogo {
  position:absolute;
  top:60px;
  left:30px;
  opacity:.2;
}

.DemoHome-windowButton {
  position:absolute;
  top:9px;
  width:12px;
  height:12px;
  display:inline-block;
  border-radius:50%;
  background:white
}

.DemoHome-windowButtonRed {left:12px}
.DemoHome-windowButtonYellow {left:32px}
.DemoHome-windowButtonGreen {left:52px}

.DemoControls {
  position:absolute;
  top:150px;
  left:30px;
  width:130px;
  height:200px
}

.DemoControls-PotentiometerItem {
  position:relative;
  height:15px;
  margin-bottom:12px;
}

.DemoControls-PotentiometerPicto {
  position:absolute;
  width:12px;
  top:-3px;
  left:0;
  
}

.DemoControls-Potentiometer {
  position:absolute;
  left:25px;
  top:0;
  width:150px;
  height:13px;
  border-radius:10px;
  background:$potentiometerBackgroundColor;
  border-radius:10px;
  cursor:pointer;
}

.DemoControls-PotentiometerBar {
  position:relative;
  width:60px;
  height:17px;
  margin:-2px 0 0 -2px;
  
  border-radius:10px;
  background:$potentiometerBarBackgroundColor;
  border-radius:10px;
}

.DemoControls-PotentiometerItem:nth-child(1) .DemoControls-PotentiometerBar {width:30px}
.DemoControls-PotentiometerItem:nth-child(2) .DemoControls-PotentiometerBar {width:80px}
.DemoControls-PotentiometerItem:nth-child(3) .DemoControls-PotentiometerBar {width:62px}
.DemoControls-PotentiometerItem:nth-child(4) .DemoControls-PotentiometerBar {width:92px}

.DemoControls-PotentiometerBar:after {
  content:"";
  position:absolute;
  right:4px;
  top:4px;
  width:9px;
  height:9px;
  border-radius:10px;
  background:$potentiometerBarHandlerBackgroundColor;
  border-radius:10px;
}



.Infobox {
  position:absolute;
  padding:20px 24px;
  z-index:90;
  
  background:$infoboxBackgroundColor;
  font-family:'PT Sans';
  font-size:18px;
  font-weight:bold;
  font-style:italic;
  border-radius:6px;
  color:$infoboxTextColor;
  line-height:22px;
  text-align:center
}

.Infobox-DemoHomeInfoboxLeft {
  left: -190px;
  top: 145px;
  width: 200px;
  height: 105px;
  
  @include animation('DemoHomeInfoboxLeftAnimation 1300ms ease infinite');
}


.Infobox-DemoHomeInfoboxLeft:after {
  position: absolute;
  content: "";
  right: -9px;
  top: 30px;
  border-left: 20px solid rgb(244, 230, 123);
  border-radius: 52px;
  border-top: solid 20px rgba(0, 0, 0, 0);
  border-bottom: solid 20px rgba(0, 0, 0, 0);
}

.Infobox-DemoHomeInfoboxRight {
  right: -190px;
  top: 105px;
  width: 210px;
  height: 105px;
  
  @include animation('DemoHomeInfoboxRightAnimation 1300ms ease infinite');
}

.Infobox-DemoHomeInfoboxRight:after {
  position: absolute;
  content: "";
  left: -9px;
  top: 30px;
  border-right: 20px solid rgb(244, 230, 123);
  border-radius: 52px;
  border-top: solid 20px rgba(0, 0, 0, 0);
  border-bottom: solid 20px rgba(0, 0, 0, 0);
}

.Section-homepageDiscoverFeaturesLine {
  text-align:center;
  font-size:18px;
  color:white;
  font-family:'PT sans', inherit;
  font-style:italic;
  font-weight:400;
  z-index:20;
  position:relative;
  margin-top:30px
}







.Section-sepa {
  position:relative;
  background:white;
  height:20px;
  font-size:45px;
  font-family:'PT Sans', inherit;
  font-weight:400;
  font-style:normal;
  color:$mainBackgroundColor;
  text-align:center;
  display:none
}

.Section-sepaBefore:before {
  content:"";
  position:absolute;
  top:-50px;
  left:50%;
  margin-left:-40px;
  background:url(img/peakTop.svg) no-repeat center bottom;
  width:80px;
  height:50px;
  z-index:2
}

.Section-sepaAfter:after {
  content:"";
  position:absolute;
  bottom:-50px;
  left:50%;
  margin-left:-40px;
  background:url(img/peakBottom.svg) no-repeat center top;
  width:80px;
  height:50px;
  z-index:2
}







.Section-parametricDesignTool {
  background:linear-gradient(to bottom right, $thirdBackgroundColor, adjust-hue($thirdBackgroundColor,-15deg));
  font-size:45px;
  font-family:'PT Sans', inherit;
  font-weight:400;
  font-style:normal;
  color:$mainBackgroundColor;
  text-align:center;
}

.Section-fonts {
  clear:both;
  margin-top:30px;
  border-top:solid 1px rgba(255,255,255,.3);
  padding-top:30px;
}

.Section-fontsItem {
  position:relative;
}

.Section-fontsItem:after {
  content:"";
  position:absolute;
  top:-10px;
  right:-5px;
  width:70px;
  height:70px;
  background:url(img/pictos/pictoBadgeMadeWithPrototypo.svg) no-repeat center center;
  box-shadow:0 2px 40px rgba(adjust-hue($mainBackgroundColor, 35deg),.4);
  border-radius:50%;
  z-index:10
}

.Section-fontsItemWrap {
  background:white;
  border-radius:3px;
  padding:20px 30px 30px 30px !important; /* foundation */
  margin:5px;
  overflow:hidden;
  box-shadow:0 2px 40px rgba($secondBackgroundColor,.5);
}

.Section-fontsView {
  font-size:100px;
  line-height:120px;
  color:$colorBlack;
}

.Section-fontsInfos {
  margin:30px -30px -30px -30px;
  background:$colorLighterGray;
  padding:30px;
}

.Section-fontsName {
  font-family:'Playfair Display',inherit;
  font-style:italic;
  font-size:22px;
  margin-top:5px;
  color:$colorDarkest;
}

.Section-fontsDescription {
  color:$colorDark;
  border-bottom:solid 1px $colorLightGray;
  padding-bottom:20px;
}

.Section-fontsDownload {
  margin-top:20px
}







.Section-features {
  background:linear-gradient(to top left, $colorLightBlack, $colorLightBlack);
  font-size:45px;
  font-family:'PT Sans', inherit;
  font-weight:400;
  font-style:normal;
  color:$colorLighterGray;
  text-align:center;
}

.Section-featuresItem {
  padding:0 20px 50px 20px !important;
}

.Section-featuresPictoWrap {
  width:80%;
  height:150px;
  margin:0 0 15px 10%;
  display:inline-block;
  vertical-align:middle
}

.Section-featuresPicto {
  height:100%;
  display:inline-block;
  vertical-align:bottom
}

.Section-featuresTitle {
  font-size:18px;
  line-height:22px;
  font-family:'Playfair Display';
  font-weight:normal;
  font-style:italic;
  color:$colorWhite;
  margin-bottom:20px;
}

.Section-featuresSepaHorizontal {
  border-top:solid 1px rgba(0,0,0,.15);
  margin:40px 0;
  clear:both;
}





.Section-newsletter {
  background-image:linear-gradient(to bottom right, #11e5b4, adjust-hue(#a2e392, 35deg)); /* #00c5d4 */
}


.NewsletterInput-submit {
  display:inline-block;
  border:none;
}


/*
 *  Page: Pricing
 */



.Pricing {
  background-image:linear-gradient(to bottom right, adjust-hue($secondBackgroundColor, 0deg), adjust-hue($secondBackgroundColor, 40deg)); /* #00c5d4 */
  
}


.PricingTable {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.PricingTable:before {
  content:"";
  display:none !important;
}

.PricingItem {
  z-index:9;
  position:relative;
  display: flex !important;
  
  @include transition(all 300ms ease)
}

.PricingItem-wrap {
  margin:0 5px;
  padding:35px 25px 0 25px;
  background:white;
  border-radius:3px;
  box-shadow:0 2px 40px rgba($secondBackgroundColor,.2);
  text-align:center;
  border-top: solid 3px white;
  
  
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.PricingItem:first-child {
  
  z-index:10;
}

.PricingItem:first-child .PricingItem-wrap {
  box-shadow: 0 2px 80px rgb(255, 94, 94);
  border: solid 3px rgb(255, 114, 94);
}

.PricingItem:first-child:hover {
  @include transform(scale(1.1,1.1));
}

.PricingItem:first-child:hover .PricingItem-wrap {
}

.PricingItem-wrap.disabled * {
  opacity:.6
}

.PricingItem-title {
  font-family:'Playfair Display';
  font-size:42px;
  line-height:48px;
  font-style:italic;
  text-transform:lowercase;
  height:60px
}

.PricingItem-price {
  font-family:'PT Sans';
  font-size:12px;
  line-height:18px;
  color:$colorDarkGray;
}

.PricingItem-infos {
  background:$colorLighterGray;
  margin:25px -25px 0;
  padding:30px 25px 125px;
  font-family:'PT Sans';
  color:$colorDarkGray;  
  flex:1
}

.PricingItem-pack {
  font-weight:bold;
  font-size:16px;
  line-height:19px
}

.PricingItem-content {
  margin-top:8px;
  border-top:solid 1px $colorLightGray;
  margin-top:25px;
  padding-top:25px
}

.PricingItem-getStarted {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
}



/*
 * Page : About us
 */
 
.About {
  background-image:linear-gradient(to bottom right, $colorDarkest, $colorLightBlack); /* #00c5d4 */
}

.Members {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Members:before {
  content:"";
  display:none !important
}

.MembersItem {
  z-index:9;
  position:relative;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  
  @include transition(all 300ms ease)
}

.MembersItem-wrap {
  /*margin:0 5px;*/
  padding:0;
  border-radius:3px;
  box-shadow:0 2px 40px rgba($colorBlack,.2);
  text-align:center;
  overflow:hidden;
  display: flex;
  flex-direction: column;
}

.MembersItem-photo {
  height:200px;
  margin:0;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;  
}

.MembersItem-name {
  font-family:'Playfair Display';
  font-size:38px;
  line-height:42px;
  font-style:italic;
  padding:0
}

.MembersItem-bloc {
  background:white;
  padding:40px 25px 35px;
}

.MembersItem-links {
  margin:30px 0 0 0;
  text-align:center;
  padding-top:0;
  border-top:solid 1px rgba(0,0,0,.1);
  font-size:0;
}

.MembersItem-linksItem:first-child {
  border-left:solid 5px white;
  width:35px;
}

.MembersItem-linksItem:last-child {
  border-right:solid 5px white;
  width:35px;
}

.MembersItem-linksItem {
  display:inline-block;
  vertical-align:middle;
  width:30px;
  height:30px;
  margin:-15px 0 0 0;
  background:white;
  border-radius:50%;
  font-size:14px
}

.MembersItem-linksItemLink {
  display:block;
  width:100%;
  height:100%;
  background-position:center center;
  background-size:16px;
  background-repeat:no-repeat;
  opacity:.2;
  
  @include transition(all 300ms ease);
}

.MembersItem-linksItemLink:hover {
  opacity:1;
}

.MembersItem-linksItem-query { background-image:url(img/pictos/pictoSocialQueryDark.svg); }
.MembersItem-linksItem-facebook { background-image:url(img/pictos/pictoSocialFacebookLightDark.svg); }
.MembersItem-linksItem-twitter { background-image:url(img/pictos/pictoSocialTwitterDark.svg); }
.MembersItem-linksItem-github { background-image:url(img/pictos/pictoSocialGitHubDark.svg); }
.MembersItem-linksItem-vimeo { background-image:url(img/pictos/pictoSocialVimeoDark.svg); }
.MembersItem-linksItem-website { background-image:url(img/pictos/pictoSocialWebsiteDark.svg); }
.MembersItem-linksItem-mail { background-image:url(img/pictos/pictoSocialMailDark.svg); }

.MembersItem-infos {
  background:$colorLighterGray;
  margin:0 0 0;
  padding:30px 25px 35px 25px;
  font-family:'PT Sans';
  color:$colorDarkGray;  
  flex: 1;
}




/*
 * Page : Blog
 */
 

.Blog {
  background-image:linear-gradient(to top left,  adjust-hue(#a2e392, 325deg), adjust-hue(#a2e392, 355deg)); /* #00c5d4 */
}

.Article {
  background:white;
  border-radius:3px;
  margin-bottom:20px;
  box-shadow:0 2px 40px rgba(darken(adjust-hue(#a2e392, 355deg),10%),.5);
  clear:both;
  overflow:hidden;
}

.Article:last-of-type {
  margin-bottom:0;
}

.Article-header {
  padding:45px 100px 35px 100px;
  background:url(img/pictos/pictoPrototypoArticleHeader.svg) no-repeat top right rgba(220, 220, 220, 0.3);
}

.Article-tags {
  display:inline-block;
  margin-left:20px;
  float:right
}

.Article-tag {
  display:inline-block;
}

.Article-tagLink {
  background:$secondBackgroundColor;
  color:$colorWhite;
  padding:4px 8px;
  border-radius:3px;
  display:block;
  
  @include transition(all 300ms ease);
}


.Article-tagLink:hover {
  background:$colorWhite;
  color:$secondBackgroundColor;
}

.Article-title {
  margin:0;
  font-size:32px;
  line-height:37px
}

.Article-titleLink h1,
.Article-titleLink h3 {
  color:$colorDarkest;
  
  @include transition(all 100ms ease);
}

.Article-titleLink:hover h1,
.Article-titleLink:hover h3 {
  color:$secondBackgroundColor !important;
}

.Article-subtitle {
  margin:5px 0 0 0;
  font-size:22px;
  line-height:26px
}

.Article-infos {
  color:$colorDark;
  border-top:solid 1px rgba(0,0,0,.05);
  margin-top:15px;
  padding-top:15px;
  font-size:14px
}

.Article-infos:after {
  content:"";
  clear:both;
  height:1px;
  position:relative
}

.Article-content {
  padding:85px 100px;
  text-align:justify;
  position:relative;
  font-size:17px;
  line-height:22px;
  clear:both;
}

.Article-content:before {
  content:"";
  position:absolute;
  top:-30px;
  left:50%;
  margin-left:-15px;
  border:solid 15px transparent;
  border-bottom:solid 15px white
}

.Article-content img {
  margin:0 auto;
  display:block
}

.Article-content h1 {
  font-family:'Roboto Slab', inherit;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  padding-top: 0;
  margin-top: 15px;
  margin-bottom: 20px;
}

.Article-content h2 {
  font-family:'Roboto Slab', inherit;
  font-size:28px;
  line-height:33px;
  text-align:left;
  border-top:solid 1px rgba(0,0,0,.05);
  padding-top:25px;
  margin-top:15px;
  margin-bottom:20px
}

.Article-content h3 {
  font-family:'Roboto Slab', inherit;
  font-size:22px;
  line-height:26px;
  text-align:left;
  margin-top:25px
}

.Article-content a {
  color:$colorDark;
  background:$colorLighterGray;
  padding:3px 7px;
  border-radius:3px;
  
  @include transition(all 300ms ease);
}

.Article-content a:hover {
  color:$colorBrightest;
  background:$colorDark;
}

.Article-content ul {
  list-style-type:square;
  padding-left:20px
}

.Article-content ul li {
  
}

.Article-leaveComment {
  background:rgba(0,0,0,.05);
  padding:20px 100px 50px;
  color:$colorDarkGray;
  display:block;
  font-size:16px;
  
  @include transition(all 300ms ease);
}

.Article-leaveComment:hover {
  background:$colorDarkest;
  color:white
}



.BlogPagination {
  margin:0 10px
}

.BlogPagination-item {
  display:inline-block;
  padding:13px 30px 10px 30px;
  color:$colorWhite;
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:bold;
  background:rgba(0,0,0,.05);
  
  @include transition(all 300ms ease);
}

.BlogPagination-before {
  margin-top:-40px;
}

.BlogPagination-before .BlogPagination-item {
  padding-top:13px;
  padding-bottom:10px;
  border-bottom:solid 3px rgba(0,0,0,.03);
}

.BlogPagination-after .BlogPagination-item {
  padding-bottom:13px;
  padding-top:10px;
  border-top:solid 3px rgba(0,0,0,.03);
}

.BlogPagination-item:hover {
  color:$colorWhite;
  background-color:rgba(0,0,0,.15);  
}

.BlogPagination-prev {
  padding-left:90px;
}

.BlogPagination-next {
  float:right;
  padding-right:90px;
}



.Disqus {
  background:rgba(0,0,0,.05);
  padding:50px 100px
}




/*
 * Page : FAQ
 */
 

.FAQ {
  background-image:linear-gradient(to top left,  adjust-hue(#a2e392, 315deg), adjust-hue(#a2e392, 285deg)); /* #00c5d4 */
}

.Question {
  background:white;
  border-radius:3px;
  margin-bottom:10px;
  box-shadow:0 2px 40px rgba(darken(adjust-hue(#a2e392, 285deg),10%),.5);
  clear:both;
  overflow:hidden;
}

.Question:last-of-type {
  margin-bottom:0;
}

.Question-header {
  padding:15px 40px 15px 70px;
  background:url(img/pictos/pictoFAQQuestionPrototypo.svg) no-repeat 20px 18px white;
  cursor:pointer;
}

.Question-title {
  margin:0;
  font-size:26px;
  line-height:30px
}

.Question-titleLink h1,
.Question-titleLink h3 {
  color:$colorDarkest;
  
  @include transition(all 100ms ease);
}

.Question-titleLink:hover h1,
.Question-titleLink:hover h3 {
  color:$secondBackgroundColor !important;
}

.Question-content {
  padding:15px 40px 15px 70px;
  background:rgba(0,0,0,.05);
  display:none
}
